.container {
  height: 100%;
  background: url("https://wow.zamimg.com/images/blizzard-assets/battle-for-azeroth/WoW_Battle_for_Azeroth_Teldrassil_Burns.jpg") no-repeat center;
  background-size: cover;
  padding: 0;
  max-width: none;

  .row {
    height: 40%;
  }

  .login-form-card {
    border-radius: 30px;
    background-color: rgba(231, 118, 71, 0.4);
    padding: 30px;
    max-width: 500px;

    .title {
      margin-top: 15px;
      margin-bottom: 15px;
      text-align: center;
    }

    .submit-button {
      margin-top: 30px;
    }
  }

  .login-form-row {
    margin: 0px;

    img {
      height: 175px;
      width: auto;
      margin-bottom: 15px;
    }
  }
}
